a { text-decoration:none; outline:none; }
a:hover { text-decoration:underline; }

.floatLeft {float:left;}
.floatRight {float:right;}
.width100 {	width:100%;}



/* LOCKEVN */
.red {background:red;}
.blue {background:#aaa;}
.green{	background: #8AFF8A;}
.orange {background:orange;}
.yellow {background:yellow;}
.aqua {background:#eee;}


.border { border:1px solid red; }


/*style for blockUI jquery plugin*/
/*div.growlUI { background: url(/image/icon.check.png) no-repeat 10px 10px }*/
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left
}
